@model VetClinicManager.Areas.Admin.DTOs.Medications.MedicationEditDto

@{
    ViewData["Title"] = "Edytuj lek/materiał";
    Layout = "_Layout";
}

<h1>Edytuj lek/materiał</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-area="Admin" asp-controller="Medications" asp-action="Edit" asp-route-id="@Model.Id" method="post" asp-anti-forgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" value="Save" class="btn btn-primary">Zapisz Zmiany</button>
                |
                <a asp-area="Admin" asp-controller="Medications" asp-action="Index" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}