<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog-debug.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="errorfile" fileName="${basedir}/logs/errors.log"
                layout="--- ${uppercase:${level}} (${longdate}) ---${newline}URL: ${aspnet-request-url}${newline}Action: ${aspnet-mvc-action}${newline}Logger: ${logger}${newline}Message: ${message}${newline}Exception: ${exception:format=tostring,stacktrace:format=Detailed,separator=\r\n}${newline}" />
        
        <target xsi:type="Console" name="console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Error" writeTo="errorfile" />
    
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>